/* noto-sans-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"), url("../fonts/noto-sans-v27-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/noto-sans-v27-cyrillic_latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans"), url("../fonts/noto-sans-v27-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/noto-sans-v27-cyrillic_latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), url("../fonts/open-sans-v34-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v34-cyrillic_latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans"), url("../fonts/open-sans-v34-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/open-sans-v34-cyrillic_latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("../fonts/roboto-v30-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"), url("../fonts/roboto-v30-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.brand-logo {
  height: 40px;
}

.icon {
  display: inline-block;
  content: "";
  height: 16px;
  width: 16px;
  vertical-align: -0.125em;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  transition: all 0.4s ease;
}
.icon-phone-out {
  background-image: url("../img/icons/telephone-outbound.svg");
}
.icon-wa {
  background-image: url("../img/icons/whatsapp.svg");
}
.icon-inst {
  background-image: url("../img/icons/instagram.svg");
}
.icon-tg {
  background-image: url("../img/icons/telegram.svg");
}
.icon-yt {
  background-image: url("../img/icons/youtube.svg");
}
.icon-phone-in {
  background-image: url("../img/icons/telephone-inbound.svg");
}
.icon:hover {
  filter: invert(30%) sepia(69%) saturate(4467%) hue-rotate(197deg) brightness(92%) contrast(98%);
}

.social .icon {
  margin-right: 8px;
}

.slider {
  padding: 0;
}

.carousel-item {
  transition: transform 2s ease, opacity 0.5s ease-out;
}/*# sourceMappingURL=style.css.map */