@import "fonts";
@import "vars";

:root {
  --text-dark: hsla(217, 33%, 17%, 1);
  --body-color: rgb(80, 90, 104);
}

body {
  font-family: 'Noto Sans';
  line-height: 1.6;
  color: var(--body-color);
}

.brand-logo {
  height: 40px;
}

.icon {
  display: inline-block;
  content: "";
  height: 16px;
  width: 16px;
  vertical-align: -.125em;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  transition: all .4s ease;

  &-phone-out {
    background-image: url("../img/icons/telephone-outbound.svg");
  }

  &-wa {
    background-image: url("../img/icons/whatsapp.svg");
  }

  &-inst {
    background-image: url("../img/icons/instagram.svg");
  }

  &-tg {
    background-image: url("../img/icons/telegram.svg");
  }

  &-yt {
    background-image: url("../img/icons/youtube.svg");
  }

  &-phone-in {
    background-image: url("../img/icons/telephone-inbound.svg");
  }

  &:hover {
    filter: invert(30%) sepia(69%) saturate(4467%) hue-rotate(197deg) brightness(92%) contrast(98%);
  }
}

.social {
  .icon {
    margin-right: 8px;
  }
}

.slider {
  padding: 0;
  margin-bottom: 64px;
}

.carousel-item {
  transition: transform 2s ease, opacity .5s ease-out;
}

.overlay {
  &::after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: hsl(223, 82%, 11%);
    opacity: 0.6;
    z-index: 1;
  }
}

.carousel-caption {
  left: 15%;
  top: 10%;
  text-align: left;
  z-index: 2;

  @media (max-width: 575.98px) {
    text-align: center;
  }
}

.slide-heading {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: var(--bs-gutter-x);

  @media (max-width: 991.98px) {
    font-size: 24px;
  }

  @media (max-width: 575.98px) {
    font-size: 24px;
    margin-bottom: calc(var(--bs-gutter-x) * 0.5);
  }
}

.slide-description {
  font-size: 20px;

  @media (max-width: 991.98px) {
    font-size: 16px;
  }

  @media (min-width: 992px) {
    margin-bottom: 64px;
  }
}

.section-heading {
  margin-bottom: 1.5rem;
  color: var(--text-dark);
  font-weight: bold;
}

.feature-card {
  
  h3 {
    padding-top: 16px;
    border-top: 1px solid hsla(218, 13%, 88%, 1);
    color: var(--text-dark);
  }
}

.card-production {
  text-decoration: none;
 
  &:hover {
    --bs-link-hover-color: var(--text-dark);
    text-decoration: underline;

    h4 {
      background-position: 0;

      &::before {
        width: 100%;
      }
    }
   
    .card {
      box-shadow: 0 0 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }

  .card {
    transition: all 0.6s ease;
  }

  h4 {
    color: var(--body-color);
    text-decoration: none;
    font-size: 16px;

    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;

    &::before {
      content: '';
      background: #54b3d6;
      display: block;
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0;
      height: 3px;
      transition: all 0.3s ease-in-out;
    }
  }
}